.header {
  height: 60px;
  background-color: black;

  position: fixed;
  width: 100%;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17px;
}
.navbar svg {
  fill: red;
}
.avatar {
  color: white;
  font-size: 30px;
}
